html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    max-inline-size: 100%;
    block-size: auto;
    display: block
}

.hide {
    display: none;
}

:root {
    --black: #1B1B1B;
    --bg-white: #FFFFFB;
    --bg-medium-white: #F8F4EB;
    --bg-dark-white: #F2EEE2;
    --primary-red: #E20C0C;

    --fs-sm: clamp(0.9rem, -0.06vi + 0.91rem, 0.86rem);
    --fs-base: clamp(1.13rem, 0.19vi + 1.08rem, 1.25rem);
    --fs-md: clamp(1.41rem, 0.62vi + 1.26rem, 1.81rem);
    --fs-lg: clamp(1.76rem, 1.33vi + 1.43rem, 2.63rem);
    --fs-xl: clamp(2.2rem, 2.46vi + 1.6rem, 3.81rem);
    --fs-xxl: clamp(2.75rem, 4.23vi + 1.71rem, 5.53rem);
    --fs-xxxl: clamp(3.43rem, 6.98vi + 1.73rem, 8.01rem);

    --shadow-base: 84.725px 53.119px 80px 0px rgba(0, 0, 0, 0.07),
        54.915px 34.429px 46.852px 0px rgba(0, 0, 0, 0.05),
        32.635px 20.461px 25.481px 0px rgba(0, 0, 0, 0.04),
        16.945px 10.624px 13px 0px rgba(0, 0, 0, 0.04),
        6.904px 4.328px 6.519px 0px rgba(0, 0, 0, 0.03),
        1.569px 0.984px 3.148px 0px rgba(0, 0, 0, 0.02);

    --shadow-post-it: 3px 23px 26.2px -8px rgba(0, 0, 0, 0.10) inset,
        53.517px 59.464px 199px 0px rgba(0, 0, 0, 0.08),
        37.747px 41.941px 116.544px 0px rgba(0, 0, 0, 0.07),
        25.961px 28.845px 63.385px 0px rgba(0, 0, 0, 0.07),
        17.661px 19.623px 32.338px 0px rgba(0, 0, 0, 0.06),
        12.349px 13.721px 16.215px 0px rgba(0, 0, 0, 0.05),
        9.527px 10.585px 7.831px 0px rgba(0, 0, 0, 0.03);

    --shadow-tabloid: -3px 3px 0px 0px #767266,
        -3px 2px 3.5px 0px #746F63,
        84.725px 53.119px 80px 0px rgba(0, 0, 0, 0.07),
        54.915px 34.429px 46.852px 0px rgba(0, 0, 0, 0.05),
        32.635px 20.461px 25.481px 0px rgba(0, 0, 0, 0.04),
        16.945px 10.624px 13px 0px rgba(0, 0, 0, 0.04),
        6.904px 4.328px 6.519px 0px rgba(0, 0, 0, 0.03),
        1.569px 0.984px 3.148px 0px rgba(0, 0, 0, 0.02);

    --shadow-base-reverse: -84.725px -53.119px 80px 0px rgba(0, 0, 0, 0.07), -54.915px -34.429px 46.852px 0px rgba(0, 0, 0, 0.05), -32.635px -20.461px 25.481px 0px rgba(0, 0, 0, 0.04), -16.945px -10.624px 13px 0px rgba(0, 0, 0, 0.04), -6.904px -4.328px 6.519px 0px rgba(0, 0, 0, 0.03), -1.569px -0.984px 3.148px 0px rgba(0, 0, 0, 0.02);
    --max-page-width: 90rem;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: var(--fs-base);
    color: var(--black);
    line-height: 130%;
    max-width: var(--max-page-width);

    background-color: var(--bg-medium-white);
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0 1rem;
    padding-top: .5rem;

}

p {
    max-width: 32rem;
}

/* 
main {
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0 1rem;
    padding-top: .5rem;
    overflow-y: visible;
}

header{
    margin: 0 auto;
        padding: 0 1rem;
        padding-top: .5rem;
        overflow-y: visible;
} */

/* --- hamburger menu ---------------------------------------------------------------------------- */
.nav__logo__img {
    max-width: 4rem;
}

nav {
    margin: 2rem 1rem;
    max-width: var(--max-page-width);

    display: grid;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-base);
    margin-bottom: 1.5rem;
    z-index: -10;
}

.nav__button {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
    justify-self: end;
}

.nav__button svg {
    width: 3rem;
    height: 3rem;
}

.nav__list {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding-top: 2rem;
    align-items: center;
}

.nav__item {
    border-top: solid 1px black;
}

.nav__item:last-of-type {
    padding: 1rem;
}

.nav__link {
    display: block;
    text-align: center;
    padding: 1rem 0;
    color: black;
    text-decoration: none;
}

.nav__link:hover {
    font-weight: 600;
    letter-spacing: -.1px;
}

/* hamburger responsive */
@media screen and (min-width: 50em) {
    nav {
        grid-template-columns: min-content auto;
        align-items: center;
        justify-content: space-between;
        margin: 2rem 2rem;
    }

    .nav__title {
        grid-row: 1;
        grid-column: 1;
    }

    .nav__logo__img {
        max-width: 8rem;
    }

    .nav__button {
        display: none;
    }

    .nav__list {
        padding: 0;
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        margin-inline-start: auto;
    }

    .nav__item,
    .nav__item:last-of-type {
        border: none;
        margin: 0;
    }

    .nav__link {
        padding-inline: .5rem;
    }
}

@media screen and (min-width: 60em) {
    .nav__link {
        padding-inline: 2rem;
    }

    nav {
        margin: 2rem 5rem;
    }
}

/* --- General styles --------------------------------------------------------------------------------------- */
.primary__button {
    padding: .8rem 1.5rem;
    background: rgba(226, 12, 12, 0.50);
    border-radius: 3.125rem;
    color: var(--bg-white);
}

.primary__button:hover {
    font-weight: normal;
    letter-spacing: normal;
    background: #E20C0C;
}

h1 {
    font-family: "STIX Two Text", serif;
    font-weight: 500;
    font-size: var(--fs-xxxl);
    line-height: 3.5rem;
}

h2 {
    font-family: "STIX Two Text", serif;
    font-weight: 500;
    line-height: 99%;
    font-size: var(--fs-xl);
    margin: 1rem 0;
}

.red-caps {
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-base);
    font-variant: all-small-caps;
    color: var(--primary-red, #E20C0C);
    text-align: center;
}

.white_caps {
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-base);
    font-variant: all-small-caps;
    color: var(--bg-white);
    text-align: center;
    line-height: 93%;
}

.p__emphasis {
    background-color: rgba(226, 12, 12, 0.4);
}


.stamp-text {
    font-family: "Rubik Dirt", serif;
    font-weight: 400;
    color: var(--primary-red, #E20C0C);
    opacity: 0.34;
    mix-blend-mode: multiply;
    font-size: var(--fs-xxxl);
    line-height: 3.5rem;
}

.vertical-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    white-space: nowrap;
    display: block;
}

p+p {
    margin-top: 2rem;
}

.receipt {
    box-shadow: var(--shadow-base);
    z-index: 10;
}

.post-it {
    background-color: #EFCFC1;
    color: var(--black);
    font-family: "IM Fell Double Pica", serif;
    font-size: var(--fs-sm);
    width: 11rem;
    height: 11rem;
    padding: 1rem;
    line-height: 130%;
    box-shadow: var(--shadow-post-it);
}

/* --- Header styles --------------------------------------------------------------------------------------- */
.header__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header__title {
    margin-right: -1rem;
}

.header__container__img {
    display: grid;
    grid-template-columns: 2fr .2fr .2fr 1fr;
    min-width: 200vw;
    margin-bottom: 1rem;
}

.header__img__paper {
    box-shadow: var(--shadow-tabloid);
    transform: rotate(-15.972deg);
    margin-right: 2rem;
    margin-top: -2.5rem;
    grid-column: 1 / span 1;
    grid-row: 1;
    z-index: 10;
}

.header__img__passport {
    grid-column: 1 / span 2;
    grid-row: 1;
    transform: rotate(70.332deg);
    box-shadow: var(--shadow-base);
    align-self: end;
    justify-self: end;
    margin-bottom: 4rem;
    margin-right: -3rem;
    border-radius: 3.125rem;
}

.header__img__stamp {
    grid-column: 3 / span 1;
    grid-row: 1;
    transform: rotate(-12.553deg);
    width: 12rem;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: -2rem;
}

.header__secondtitle {
    grid-column: 3 / span 1;
    grid-row: 1;
    min-width: max-content;
    margin-top: 0rem;
    align-self: end;
    justify-self: end;
}

.header__red-caps {
    text-align: right;
    align-self: end;
}

.header__paragraph {
    max-width: 18rem;
    margin: 2rem 0;
}

.header__paragraph--inside {
    display: none;
}

.header__title--inside {
    display: none;
}

.header__title--inside {
    display: none;
}

.header__red-caps--inside {
    display: none;
}

@media screen and (min-width: 30em) {
    .header__container__img {
        min-width: 100vw;
        grid-template-columns: 1fr 1fr;
    }

    .header__img__stamp {
        grid-column: 2 / span 1;
        grid-row: 1;
        align-self: center;
        justify-self: end;
        margin: 0;
        margin-right: 3rem;
    }


    .header__secondtitle {
        grid-column: 2 / span 1;
        grid-row: 1;
        min-width: max-content;
        margin: 0;
        justify-self: end;
        align-self: end;
        margin-bottom: 5rem;
        margin-left: 6rem;
    }

    .header__img__paper {
        box-shadow: var(--shadow-tabloid);
        transform: rotate(-15.972deg);
        margin: 0;
        grid-column: 1 / span 1;
        grid-row: 1;
        z-index: 10;
        margin-left: -3rem;
    }

    .header__img__passport {
        grid-column: 1 / span 1;
        grid-row: 1;
        transform: rotate(70.332deg);
        box-shadow: var(--shadow-base);
        align-self: center;
        justify-self: end;
        margin: 0;
        border-radius: 3.125rem;

        margin-right: -5rem;
        max-width: 30rem;
    }
}

/* responsive header */
@media screen and (min-width: 50em) {
    .header__paragraph--outside {
        display: none;
    }

    .header__title--outside {
        display: none;
    }

    .header__red-caps--outside {
        display: none;
    }

    .header__container__img {
        min-width: 0;
        max-width: var(--max-page-width);
        min-height: 80vh;
        grid-template-columns: 2fr .5fr 3fr;
        grid-template-rows: 1fr .5fr;
        padding: 0 5rem;
    }

    .header__title--inside {
        display: block;
        grid-column: 2 / span 2;
        grid-row: 1;
        line-height: 4.375rem;
    }

    .header__paragraph--inside {
        display: block;
        grid-column: 3 / span 2;
        grid-row: 2;
        align-self: start;
        max-width: 29rem;
        margin: 0;
    }

    .header__red-caps--inside {
        display: block;
        grid-column: 3 / span 2;
        grid-row: 1;
        justify-self: end;
        align-self: center;
        margin-top: -20rem;
    }

    .header__img__stamp {
        grid-column: 3 / span 1;
        grid-row: 1;
        width: 14rem;
        margin: 0;
    }

    .header__secondtitle {
        grid-column: 3 / span 1;
        grid-row: 1 / span 2;
        min-width: max-content;
        margin: 0;
        justify-self: end;
        align-self: center;
        margin-top: 10rem;
        margin-right: -5rem;
    }

    .header__img__paper {
        margin: 0;
        grid-column: 1 / span 1;
        grid-row: 1 /span 1;
        z-index: 10;
        align-self: center;
        justify-self: center;
        max-width: 20rem;
    }

    .header__img__passport {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        align-self: center;
        justify-self: end;
        margin: 0;
        max-width: 25rem;
        margin-right: -5rem;
        margin-bottom: -5rem;
    }




}

@media screen and (min-width: 60em) {
    .header__container__img {
        min-width: 0;
        max-width: var(--max-page-width);
        min-height: 80vh;
        grid-template-columns: 2fr 1fr 3fr;
        grid-template-rows: 1fr .5fr;
        padding: 0 8rem;
    }

    .header__img__paper {
        grid-column: 1 / span 1;
        grid-row: 1 /span 2;
        max-width: 25rem;
    }

    .header__img__passport {
        grid-row: 1 / span 2;
        max-width: 35rem;
        margin-right: -7rem;
        margin-bottom: -7rem;
    }

    .header__secondtitle {
        line-height: 4.375rem;
    }

    .header__title--inside {
        line-height: 6.375rem;
    }
}

/* --- introduction ------------------------------------------------------------------------------------------------- */
.introduction__img {
    transform: rotate(9.25deg);
    box-shadow: var(--shadow-base);
    border-radius: 3.125rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.introduction__container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

@media screen and (min-width: 50em) {
    .introduction__container {
        margin-top: 3rem;
        flex-flow: row-reverse nowrap;
    }

    .introduction__img {
        margin: 3rem;
        max-width: 20rem;
    }
}

@media screen and (min-width: 65em) {
    .introduction__container {
        gap: 4rem;
    }

    .introduction__img {
        max-width: 30rem;
        margin: 1rem;
    }
}

/* --- Achievements ------------------------------------------------------------------------------------------------ */

.achievements__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr .9fr 1fr;
    position: relative;
    margin-bottom: 2rem;
}

.achievements__container__title {
    grid-column: 1;
    grid-row: 2;
}

.achievements__container__fill {
    grid-column: 1;
    grid-row: 4;
    display: flex;
    flex-flow: column nowrap;
}

.achievements__receipt__left {
    transform: rotate(-39.091deg);
    grid-column: 1;
    grid-row: 2 / span 2;
    position: absolute;
    display: none;
    /* fix */
}

.achievements__receipt__right {
    transform: rotate(-135.254deg);
    box-shadow: var(--shadow-base-reverse);
    grid-column: 1;
    grid-row: 1 / span 3;
    align-self: end;
    position: absolute;
    display: none;
    /* fix */
}

.achievements__red-caps {
    align-self: end;
}

/* --- printer section -------------------------------------------------------------------------------------------- */
.printer__container {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem 0;
    gap: 1rem;
}

.printer__red-caps {
    align-self: flex-end;
}

.printer__container__img {
    display: grid;
    align-items: center;
}

.printer__base {
    mix-blend-mode: multiply;
    grid-column: 1;
    grid-row: 1;
    margin-left: -6rem;
    margin-right: 5rem;
}

.printer__book__container {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    gap: .5rem;
}

.printer__title {
    font-family: "STIX Two Text";
    font-weight: 700;
    line-height: 110%;
    font-size: var(--fs-md);
    max-width: 19rem;
}

/* css for the book pages */
.printer__book {
    display: grid;
    place-items: center;
    max-width: 25vw;
}

.printer__book__page {
    grid-column: 1;
    grid-row: 1;
}

.printer__book__text {
    grid-column: 1;
    grid-row: 1;
    padding: .5rem;
}

/* --- section 25000 ----------------------------------------------------------------------------------------------- */
.receipt__transition__container {
    display: grid;
    position: relative;
    height: 50vh;
    margin: 4rem 0;
    justify-items: center;
}

.receipt__transition {
    display: block;
    grid-column: 1;
    grid-row: 1;
    box-shadow: var(--shadow-base-reverse);
    transform-origin: center;
    transform: translateY(-50%);
    width: 20rem;
}

.receipt__transition__bottom {
    transform: rotate(-75.047deg) translate(150%);

}

.receipt__transition__top {
    transform: rotate(-97.06deg) translate(150%);
}

.number__container {
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    color: var(--bg-white);
    margin: -10rem -1rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
}

.number__white-caps {
    max-width: 13rem;
}

.number__title {
    font-size: 6rem;
    font-family: "IM Fell Double Pica", serif;
    line-height: 4.90513rem;
    margin: 1rem 0;
    margin-top: 3rem;
}

.number__post-it {
    position: absolute;
    left: 25%;
    transform: rotate(-12.747deg);
}

/* --- stamp section -------------------------------------------------------------------------------------------- */
.stamps__container {
    margin: 3rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.stamps__red-caps {
    writing-mode: vertical-rl;
}

.stamps__stamp-text {
    display: none;
}

/* --- family section ------------------------------------------------------------------------------------------- */
.family__container {
    margin: 5rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    gap: 2rem;
}

.family__container__img {
    position: relative;

}

.family__scrap {
    position: absolute;
    transform: rotate(53.69deg);
    max-width: 15rem;
    right: -50%;
    bottom: -20%;
}

.family__daughter {
    position: absolute;
    transform: rotate(13.711deg);
    max-width: 12rem;
    right: 0;
    top: 0;
    z-index: -10;
}

.family__heart {
    position: absolute;
    transform: rotate(-21.388deg);
    max-width: 20rem;
    bottom: 0;
    left: -50%;
    bottom: -10%;
    z-index: 10;
}

.family__post-it {
    position: absolute;
    transform: rotate(6.179deg);
    left: 10%;
}

.family__red-caps {
    display: none;
}

.family__container__fill {
    margin-bottom: 3rem;
}

/* --- map section --------------------------------------------------------------------------------------------- */
.map__container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 3rem;
    position: relative;
}

.map__img {
    grid-row: 1;
    grid-column: 1;
    margin: -5rem;
    position: relative;
}

.map__img::after {
    content: url(../../assets/svg/stamp-antwerp.svg);
    position: absolute;
    right: 15%;
    bottom: 0;
    transform: rotate(-12.464deg);
    width: 7rem;
    mix-blend-mode: multiply;
}

/* 
.map__dart__circle {
    grid-row: 1;
    grid-column: 1;
    border-radius: 50%;
    background-color: var(--black);
    width: 0.50175rem;
    height: 0.50175rem;
    position: absolute;
    right: 32%;
    top: 13.5%;
} */

.map__dart {
    position: absolute;
    grid-row: 1;
    grid-column: 1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) scale(0.7);
    right: 20%;
    top: -15%;
}



.map__red-caps {
    display: none;
}

/* --- passport section ------------------------------------------------------------------------------------------ */
.pass__container {
    margin-top: 3rem;
    display: grid;
    align-items: center;
    justify-content: center;
}

.pass__bigtext {
    text-align: center;
    font-family: "IM Fell Double Pica", serif;
    line-height: 110%;
    font-size: var(--fs-xxl);
    grid-column: 1;
    grid-row: 2;
}

.pass__id {
    grid-column: 1;
    grid-row: 2 / span 2;
    max-width: 14rem;
    transform: rotate(29.915deg);
    align-self: center;
    justify-self: end;
    margin-bottom: 6rem;
}

.pass__img {
    display: grid;
    transform: rotate(5.293deg);
    grid-column: 1;
    grid-row: 2 / span 2;
    place-items: center;
}

.pass__img__closed {
    grid-column: 1;
    grid-row: 1;
    transform: scale(.5);
}

.pass__img__open {
    grid-column: 1;
    grid-row: 1;
    transform: scale(.9);
}

/* --- colour section -------------------------------------------------------------------------------------------- */
.colour__container__article {
    display: grid;
    width: 150vw;
    margin-bottom: 4rem;
    grid-template-columns: 2fr 1fr;
}

.colour__container__article__interactive {
        grid-column: 1;
            grid-row: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: stretch;
    gap: 2rem;
    margin-right: 2rem; 
}

.colour__container__article__c {
    grid-column: 1;
        grid-row: 1;
    display: grid;
    justify-items: stretch;
    position: relative;
    transform: rotate(-4.035deg);
        mix-blend-mode: multiply;
         padding: .5rem;
}

.colour__container__options {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: space-evenly ;
}

.colour__canvas {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    position: absolute;

}

.colour__drawing {
    grid-column: 1;
    grid-row: 1;
    mix-blend-mode: multiply;
}

.colour__newspaper{
    grid-column: 1 / span 2;
    grid-row: 1;
    margin: -3rem;
    margin-left: -2rem;
    margin-top: -4rem;
}

.colour__circle{
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: var(--black) solid 6px;
    flex-shrink: 1;
}

.colour__option{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.colour__circle--yellow{
    background-color: #FFE69C;
}

.colour__circle--blue {
    background-color: #97B7DB;
}

.colour__circle--pink {
    background-color: #B47072;
}

.colour__circle--green {
    background-color: #AFB471;
}